<!DOCTYPE html>
<footer>
 
  <div class="redirect">
        <a href="https://www.instagram.com"><img src="/instagram-image.png" alt="first photo"></a>
        <a href="https://www.facebook.com"><img src="/fb-image.png" alt="second photo"></a>
        <a href="mailto:fake@mail.com"><img src="/mail-image.png" alt="third photo"></a>
      
    </div>
    <div class="copyr">© <%= new Date().getFullYear(); %> Copyleft</div>
    
  </footer>