<!DOCTYPE html>
<%- include('../common/head') %>
  <header>
    <%- include('../common/nav') %>
  </header>

  <main>
    <!--Dark Theme-->
    <button onclick="toggleDark()">
      <svg aria-hidden="true" data-prefix="fas" data-icon="moon" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512" style="height: 2rem; width: 2rem;" class="svg-inline--fa fa-moon">
        <path fill="currentColor"
          d="M32 256C32 132.2 132.3 32 255.8 32c11.36 0 29.7 1.668 40.9 3.746 9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3 9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480 132.1 480 32 379.6 32 256z">
        </path>
      </svg></button>
    <script type="text/javascript" src="toggleDark.js"></script>


    <section id="forabout">
      <section class="about-page">

        <img src="aboutimg.jpg" alt="about photo" />
        <figure><br><br><br>
          <div class="rightabout">
            <h2 id="titab"><strong>A<div id="underl">BOU</div>T</strong></h2>

            <br>
            <p>Welcome to Concert Tickets Hub, your ultimate destination for discovering and securing tickets to the
              most thrilling music festivals and concerts around the world. We are passionate about bringing people
              together through the power of music, creating unforgettable experiences that resonate with your soul.</p>

            <p>At Concert Tickets Hub, we understand the thrill of live performances and the sense of community they
              foster. That's why we have built a platform that not only allows you to browse and purchase concert
              tickets with ease, but also encourages you to share your thoughts and connect with fellow concert-goers.
            </p>

            <p>Our user-friendly interface provides a seamless ticket-buying experience, enabling you to explore a
              diverse range of artists, genres, and festivals. We value your feedback and believe in the collective
              wisdom of our community. That's why we provide a platform for users to share their concert experiences and
              read reviews from other passionate music enthusiasts.</p>

            <p>By connecting people through music festivals, we aim to create a space where friendships are forged,
              memories are made, and a shared love for music transcends boundaries. We believe in the power of music to
              unite, inspire, and uplift spirits, and we are honored to be a part of your musical journey.</p>

            <p>Join us at Concert Tickets Hub and embark on a harmonious adventure. Discover new artists, secure your
              tickets, read and share reviews, and let the magic of live music festivals bring us all closer together.
            </p>

            <p>Thank you for choosing Concert Tickets Hub. Let the rhythm guide you, and let the journey begin!

        </figure>
        </div>

      </section>
    </section>

  </main>>

  <footer>
    <%- include('../common/footer') %>
  </footer>

  </html>