<!DOCTYPE html>
<%- include('../common/head') %>
<header>
    <%- include('../common/nav') %>
</header>

  <script>
     function mehFunction() {
      document.getElementById("manyDropdown").classList.toggle("show");
    }
    
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.manydropbtn')) {
        var dropdowns = document.getElementsByClassName("manydrop-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }  

    
  </script>

<body onload="checkCookie()">
 
<script>
  

  function continue1(){
    $('#step-one *').prop('disabled', true);
    $('#step-two *').prop('disabled', false);
    $('#step-three *').prop('disabled', true);
    $('#step-four *').prop('disabled', true);
    document.getElementById("button1").disabled = true;
    document.getElementById("button2").disabled = false;
    document.getElementById("button11").disabled = false;

    document.getElementById('person1').disabled = true;
   document.getElementById('person2').disabled = true;
  document.getElementById('person3').disabled = true;
  document.getElementById('person4').disabled = true;
    }

    function continue2(){
      $('#step-one *').prop('disabled', true);
      $('#step-two *').prop('disabled', true);
    $('#step-three *').prop('disabled', false);
    $('#step-four *').prop('disabled', true);
    document.getElementById("button2").disabled = true;
    document.getElementById("button3").disabled = false;
    document.getElementById("button22").disabled = false;
    document.getElementById("button11").disabled = true;

    }

    function continue3(){
      $('#step-one *').prop('disabled', true);
      $('#step-two *').prop('disabled', true);
      $('#step-three *').prop('disabled', true);
    $('#step-four *').prop('disabled', false);
    document.getElementById("button22").disabled = true;
    document.getElementById("button33").disabled = false;
    document.getElementById("button3").disabled = true;
    document.getElementById("submitButton").disabled = true;

    }
    

    function back1(){
    $('#step-one *').prop('disabled', false);
    $('#step-two *').prop('disabled', true);
    $('#step-three *').prop('disabled', true);
    $('#step-four *').prop('disabled', true);
    document.getElementById("button1").disabled = false;
    document.getElementById("button2").disabled = true;
    document.getElementById("button11").disabled = true;
    }

    function back2(){
      $('#step-one *').prop('disabled', true);
      $('#step-two *').prop('disabled', false);
    $('#step-three *').prop('disabled', true);
    $('#step-four *').prop('disabled', true);
    document.getElementById("button2").disabled = false;
    document.getElementById("button3").disabled = true;
    document.getElementById("button22").disabled = true;
    document.getElementById("button11").disabled = false;
    document.getElementById("returnJourney").style.display = "none";
    document.getElementById("retlabel").style.display = "none";
    }

    function back3(){
      $('#step-one *').prop('disabled', true);
      $('#step-two *').prop('disabled', true);
      $('#step-three *').prop('disabled', false);
    $('#step-four *').prop('disabled', true);
    document.getElementById("button22").disabled = false;
    document.getElementById("button33").disabled = true;
    document.getElementById("button3").disabled = false;
    }
</script>

   <div>
            <section class="reg">
            

            <div class="regcontainer">
              <h1>Reservation Info</h1>
              <p>Please fill in this form to reserve a flight.</p>
              <hr>

<div id="step-one">

<form action="/adduserrev" method="POST">
 
              <div class="manydrop" id="peephole">
  <button type="button" onclick="mehFunction()" class="manydropbtn">People</button>
  <div id="manyDropdown" class="manydrop-content">
    <input type="button" name="many" href="#" value="1" onclick="addInput(1)"></a>
    <input type="button" name="many" href="#" value="2" onclick="addInput(2)"></a>
    <input type="button" name="many" href="#" value="3" onclick="addInput(3)"></a>
    <input type="button" name="many" href="#" value="4" onclick="addInput(4)"></a>

  </div>
</div>
<br>
<label for="start"></label>


<section id='input-cont'>
<div id="person1"></div>
<div id="person2"></div>
<div id="person3"></div>
<div id="person4"></div>
</section>

<script>
 

  const container1 = document.getElementById('person1');
  const container2 = document.getElementById('person2');
  const container3 = document.getElementById('person3');
  const container4 = document.getElementById('person4');
  
  // Call addInput() function on button click
  function addInput(x){
      container1.innerHTML= '';
      container2.innerHTML= '';
      container3.innerHTML= '';
      container4.innerHTML= '';
      i = 1;
      
      while (i <= x){
      if (i==1){
        container1.innerHTML+= 'First Person<br>';
      let input = document.createElement('input');
      input.placeholder = 'Full Name';
      input.setAttribute("type", "text");
      input.setAttribute("name", "data[First_Person][Full_Name]");
      container1.appendChild(input);
      container1.innerHTML+= '<br>';
      let input2 = document.createElement('input');
      input2.setAttribute("type", "text");
      input2.setAttribute("name", "data[First_Person][ID_Number]");
      input2.placeholder = 'ID Number';
      container1.appendChild(input2);
      

    }

    if (i==2){
      container2.innerHTML+= 'Second Person<br>';
      let input = document.createElement('input');
      input.placeholder = 'Full Name';
      input.setAttribute("type", "text");
      input.setAttribute("name", "data[Second_Person][Full_Name]");
      container2.appendChild(input);
      container2.innerHTML+= '<br>';
      let input2 = document.createElement('input');
      input2.placeholder = 'ID Number';
      input2.setAttribute("type", "text");
      input2.setAttribute("name", "data[Second_Person][ID_Number]");
      container2.appendChild(input2);

    }

    if (i==3){
      container3.innerHTML+= 'Third Person<br>';
      let input = document.createElement('input');
      input.placeholder = 'Full Name';
      input.setAttribute("type", "text");
      input.setAttribute("name", "data[Third_Person][Full_Name]");
      container3.appendChild(input);
      container3.innerHTML+= '<br>';
      let input2 = document.createElement('input');
      input2.placeholder = 'ID Number';
      input2.setAttribute("type", "text");
      input2.setAttribute("name", "data[Third_Person][ID_Number]");
      container3.appendChild(input2);

    }

    if (i==4){
      container4.innerHTML+= 'Fourth Person<br>';
      let input = document.createElement('input');
      input.placeholder = 'Full Name';
      input.setAttribute("type", "text");
      input.setAttribute("name", "data[Fourth_Person][Full_Name]");
      container4.appendChild(input);
      container4.innerHTML+= '<br>';
      let input2 = document.createElement('input');
      input2.setAttribute("type", "text");
      input2.setAttribute("name", "data[Fourth_Person][ID_Number]");
      input2.placeholder = 'ID Number';
      container4.appendChild(input2);

    }
      
      i++;
      
    }
      
  }
</script>

</div>
<br><br>

<button type="button" id="button1" onclick="continue1()">Continue</button>
<button type="button" id="button11" onclick="back1()">Back</button><br>

<br><br> 


    <div id="step-two"> 
      <script>
        function showReturnJourney() {
          var returnJourney = document.getElementById("returnJourney");
          var returnDate = document.getElementById("returnDate");
          var returnDates = document.getElementById("returndates");
          if (returnJourney.checked == true) {
            returnDate.style.display = "block";
            returnDates.style.display = "block";
          } else {
            returnDate.style.display = "none";
            returnDates.style.display = "none";
          }
        }
      </script>

   
      <h2>Train Travel Date</h2>
      <form>
        <label>Departure Date:</label>
        <input type="date" name="tripstart" value="2023-02-07" min="2023-02-07" max="2023-12-31" required/>
        <br><br>
        <input type="checkbox" id="returnJourney" onclick="showReturnJourney()" />
        <label for="returnJourney" id="retlabel">Return Journey</label>
        <br><br>
        <div id="returnDate" style="display: none;">
          <label>Return Date:</label>
          <input type="date" id="returnDateInput" name="tripend"
          value="2023-02-07"
          min="2023-02-07" max="2023-12-31"
          oninput="checkReturnDate(this)" />
        </div>
        <br><br>
  <!--   <input type="submit" value="Submit" /> -->

  <script>
document.querySelector("input[name='tripstart']").addEventListener("input", function(e) {
let today = new Date();
let selectedDate = new Date(e.target.value);

if (selectedDate < today) {
alert("Departure date should be after the current date");
e.target.value = "";
}
});

function checkReturnDate(e) {
let departureDate = new Date(document.querySelector("input[name='tripstart']").value);
let selectedReturnDate = new Date(e.value);

if (selectedReturnDate < departureDate) {
alert("Return date should be after or same as departure date");
e.value = "";
}
}
  </script>

<section>
   <p>Available departure rides:</p>
        <div>
        <input type="radio" id="ride1" name="trainrideone" value="10:00">
        <label for="ride1">10:00</label><br>
        <input type="radio" id="ride2" name="trainrideone" value="13:00">
        <label for="ride2">13:00</label><br>  
        <input type="radio" id="ride3" name="trainrideone" value="18:00">
        <label for="ride3">18:00</label><br><br>
 <!--       <input type="submit" value="Submit"> --> 
</div>

        <div id="returndates" style="display: none;">
          <p>Available return rides:</p>
        <input type="radio" id="ride11" name="trainride11" value="11:00">
        <label for="ride11">11:00</label><br>
        <input type="radio" id="ride22" name="trainride11" value="14:00">
        <label for="ride22">14:00</label><br>  
        <input type="radio" id="ride33" name="trainride11" value="17:00">
        <label for="radio33">17:00</label><br><br>
      </div>
    </section>

    <button type="button" id="button2" onclick="continue2()">Continue</button>
    <button type="button" id="button22" onclick="back2()">Back</button><br>
   
        <br>  
      </div>
        <div id="step-three">   
        
       

    

        <br>  
      
       <!-- <p>Class:</p>
        <input type="radio" id="class1" name="class" value="Business">
        <label for="age1">1st Class</label><br>
        <input type="radio" id="class2" name="class" value="Economy">
        <label for="age2">2nd Class</label><br>   -->
       <!--   <input type="submit" value="Submit"> -->
     


       <div id="train">
        <input type="radio" id="firstWagon" name="wagon" value="1st Class"checked />
        <label for="firstWagon">1st Class</label>
        <input type="radio" id="secondWagon" name="wagon" value="2nd Class" />
        <label for="secondWagon">2nd Class</label>
        <div class="section first">
          <div class="row">
            1A<input type="checkbox" class="seat" id="1A" name="seat" value="1A"/>
            1B<input type="checkbox" class="seat" id="1B" name="seat" value="1B"/>
            <!-- ... -->
            1T<input type="checkbox" class="seat" id="1T" name="seat" value="1T"/>
          </div>
          <!-- ... -->
          <div class="row">
            2A<input type="checkbox" class="seat" id="2A" name="seat" value="2A"/>
            2B<input type="checkbox" class="seat" id="2B" name="seat" value="2B"/>
            <!-- ... -->
            2T<input type="checkbox" class="seat" id="2T" name="seat" value="2T"/>
          </div>
        </div>
        <div class="section second">
          <div class="row">
            3A<input type="checkbox" class="seat" id="3A" name="seat" value="3A"/>
            3B<input type="checkbox" class="seat" id="3B" name="seat" value="3B"/>
            <!-- ... -->
            3T<input type="checkbox" class="seat" id="3T" name="seat" value="3T"/>
          </div>
          <!-- ... -->
          <div class="row">
            4A<input type="checkbox" class="seat" id="4A" name="seat" value="4A"/>
            4B<input type="checkbox" class="seat" id="4B" name="seat" value="4B"/>
            <!-- ... -->
            4T<input type="checkbox" class="seat" id="4T" name="seat" value="4T"/>
          </div>
        </div>
      </div>
      <script> 




        const wagons = document.querySelectorAll(".wagon");
        const seats = document.querySelectorAll(".seat");
        let selectedSeats = [];
        
        wagons.forEach(wagon => {
          let radio = wagon.querySelector("input[type='radio']");
          radio.addEventListener("change", e => {
            if (radio.checked) {
              wagon.style.display = "flex";
              wagons.forEach(otherWagon => {
                if (otherWagon !== wagon) {
                  otherWagon.style.display = "none";
                }
              });
            }
          });
        });

        const container11 = document.getElementById('person1');
  const container22 = document.getElementById('person2');
  const container33 = document.getElementById('person3');
  const container44 = document.getElementById('person4');

  const checkboxes = document.querySelectorAll('.seat');
        let count = 0;
        var price = 0;
        checkboxes.forEach(checkbox => {
          checkbox.addEventListener('click', function() {
            
            if (!container22.innerHTML.trim()) {
               var g = 1;
            }else if (!container33.innerHTML.trim()) {
               var g = 2;
            }else if (!container44.innerHTML.trim()) {
               var g = 3;
            }else if (container11.innerHTML.trim()) {
               var g = 4;
            }

            var removePeephole = document.getElementById("peephole");
            removePeephole.style.display = "none";
            
            if(!container11.innerHTML.trim()){
              var g = 0;
              alert("Choose how many people in the first step!");
              location.reload();
            }

            var priceInput = document.getElementById("price");
var checkvalue = checkbox.value[0];
            if (this.checked && count === g) {
              alert("You can only select up to " + g + " seats");
              this.checked = false;
            } else if (this.checked) {
              
              var ret = document.getElementById("returndates");
       
          

              if ((checkvalue === "1" || checkvalue === "2" ) && ((ret.style.display=="block"))) {
                  price = price + 100;
              }else  if ((checkvalue === "3" || checkvalue === "4" ) && ((ret.style.display=="block")))
              {
                price = price + 30;
              }else  if ((checkvalue === "1" || checkvalue === "2" ) && ((ret.style.display!="block")))
              {
                price = price + 50;

              }else{
                price = price + 15;
              }
              
            
            priceInput.value = price;
              count++;
            } else {
              var ret = document.getElementById("returndates");
              if ((checkvalue === "1" || checkvalue === "2" ) && ((ret.style.display=="block"))) {
                  price = price - 100;
              }else  if ((checkvalue === "3" || checkvalue === "4" ) && ((ret.style.display=="block")))
              {
                price = price - 30;
              }else  if ((checkvalue === "1" || checkvalue === "2" ) && ((ret.style.display!="block")))
              {
                price = price - 50;

              }else{
                price = price - 15;
              }

              priceInput.value = price;
              count--;
            }
          });
        });
  
      /*  
        seats.forEach(seat => {
          seat.addEventListener("click", e => {
            if (!container22.innerHTML.trim()) {
               var g = 1;
            }else if (!container33.innerHTML.trim()) {
               var g = 2;
            }else if (!container44.innerHTML.trim()) {
               var g = 3;
            }else if (container11.innerHTML.trim()) {
               var g = 4;
            }

            var removePeephole = document.getElementById("peephole");
            removePeephole.style.display = "none";
            
            if(!container11.innerHTML.trim()){
              var g = 0;
              alert("Choose how many people in the first step!");
            }
alert(g);
            if (g!=0 && selectedSeats.length < g && seat.checked) {
seat.parentNode.classList.add("selected");
selectedSeats.push(seat.value);
} else if (!seat.checked) {
seat.parentNode.classList.remove("selected");
selectedSeats = selectedSeats.filter(selectedSeat => selectedSeat !== seat.value);
}
});
});

           /* if (g!=0 && selectedSeats.length < g && !seat.classList.contains("selected")) {
              seat.classList.add("selected");
              selectedSeats.push(seat.id);
            } else if (seat.classList.contains("selected")) {
              seat.classList.remove("selected");
              selectedSeats = selectedSeats.filter(selectedSeat => selectedSeat !== seat.id);
            }
          });
        });*/
        </script>
<label>Price in €:</label>
<input type="text" id="price" name="price" value="0" readonly />
      </div>

    <button type="button" id="button3" onclick="continue3()">Continue</button>
    <button type="button" id="button33" onclick="back3()">Back</button><br>
      <div id="step-four">
 
        <br>  


      
        <p>Card Type:</p>
        <input type="radio" id="type1" name="cardtype" value="Visa">
        <label for="age1">Visa</label><br>
        <input type="radio" id="type2" name="cardtype" value="Mastercard">
        <label for="age2">Mastercard</label><br>  
        <input type="radio" id="type3" name="cardtype" value="Paypal">
        <label for="age3">Paypal</label><br>  
       <!--   <input type="submit" value="Submit"> -->

       <div id="credit-card-input">
        <p>Credit Card Number:</p>
        <input type="text" maxlength="4" id="input1" name="creditnum">
        <input type="text" maxlength="4" id="input2" name="creditnum">
        <input type="text" maxlength="4" id="input3" name="creditnum">
        <input type="text" maxlength="4" id="input4" name="creditnum">
      </div>

<br>
      <script>
        const input1 = document.getElementById("input1");
const input2 = document.getElementById("input2");
const input3 = document.getElementById("input3");
const input4 = document.getElementById("input4");

input1.addEventListener("input", moveToNextInput);
input2.addEventListener("input", moveToNextInput);
input3.addEventListener("input", moveToNextInput);
input4.addEventListener("input", function() {});

function moveToNextInput() {
  if (this.value.length === 4) {
    switch (this.id) {
      case "input1":
        input2.focus();
        break;
      case "input2":
        input3.focus();
        break;
      case "input3":
        input4.focus();
        break;
    }
  }
}

// Concatenate the values of the 4 inputs to get the 16-digit number
function getCreditCardNumber() {
  return input1.value + input2.value + input3.value + input4.value;
}
      </script>
       
    <!--      <input type="submit" value="Submit"> -->

    <div id="catchpa">
      <p>'Catchpa': Type in this number correctly to submit: </p><p id="randomNumber">00000</p>
      <input type="text" id="inputNumber" name="catchfive" maxlength="5" />
      
    </div>
    <script>
      function get(){
        var comingback = document.getElementById("returnDate");
        var comingbackk = document.getElementById("returndates");
         var yy = 1;
          if (comingback.style.display!="block") {
            comingback.innerHTML = "";
            comingbackk.innerHTML = "";
          }  
        $('#step-one *').prop('disabled', false);
    $('#step-two *').prop('disabled', false);
    $('#step-three *').prop('disabled', false);
    $('#step-four *').prop('disabled', false);
      }

      
    </script>

    <button type="submit" id="submitButton" onclick="get()" disabled>Submit</button>
    <script>
     const randomNumber = document.getElementById("randomNumber");
const inputNumber = document.getElementById("inputNumber");
const submitButton = document.getElementById("submitButton");

function generateRandomNumber() {
  return Math.floor(Math.random() * 100000).toString().padStart(5, "0");
}

randomNumber.textContent = generateRandomNumber();

inputNumber.addEventListener("input", e => {
  if (inputNumber.value === randomNumber.textContent) {
    submitButton.disabled = false;
  } else {
    submitButton.disabled = true;
  }
});

/*submitButton.addEventListener("click", e => {
 
}); */
    </script>


    </form>
</div>
         
        </section>
</div>      
    }
  
    
 <script>
   document.getElementById("button2").disabled = true;
   document.getElementById("button3").disabled = true;


   document.getElementById("button11").disabled = true;
   document.getElementById("button22").disabled = true;
   document.getElementById("button33").disabled = true;

  $('#step-two *').prop('disabled', true);
 $('#step-three *').prop('disabled', true);
 $('#step-four *').prop('disabled', true);
 </script>





  </div>



</body>


<footer>
    <%- include('../common/footer') %>
</footer>


</html>