<!DOCTYPE html>
<%- include('../common/head') %>
    <header>
        <%- include('../common/nav') %>
    </header>



    <body>
        
        <!--Dark Theme-->
      <button onclick="toggleDark()">
        <svg aria-hidden="true" data-prefix="fas" data-icon="moon" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512" style="height: 2rem; width: 2rem;" class="svg-inline--fa fa-moon">
          <path fill="currentColor"
            d="M32 256C32 132.2 132.3 32 255.8 32c11.36 0 29.7 1.668 40.9 3.746 9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3 9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480 132.1 480 32 379.6 32 256z">
          </path>
        </svg></button>
      <script type="text/javascript" src="toggleDark.js"></script>
        
    </body>

    <section class="cd-timeline js-cd-timeline">
        <div class="container max-width-lg cd-timeline__container">
          <div class="cd-timeline__block">
            <div class="cd-timeline__img cd-timeline__img--picture">
            </div> <!-- cd-timeline__img -->
    
            <div class="cd-timeline__content text-component">
              <h2>The Weeknd and BLACKPINK’s Jennie share new song from ‘The Idol’</h2>
              <p class="color-contrast-medium">'One Of The Girls' is the latest track to be lifted from the new HBO show</p>
    
              <div class="flex justify-between items-center">
                <span class="cd-timeline__date">23rd June 2023</span>
                <a href="https://www.nme.com/news/music/the-weeknd-and-blackpinks-jennie-share-new-song-from-the-idol-one-of-the-girls-3459947" class="btn btn--subtle">Read more</a>
              </div>
            </div> <!-- cd-timeline__content -->
          </div> <!-- cd-timeline__block -->
    
          <div class="cd-timeline__block">
            <div class="cd-timeline__img cd-timeline__img--movie">
            </div> <!-- cd-timeline__img -->
    
            <div class="cd-timeline__content text-component">
              <h2>Jamie T and IDLES on their huge Finsbury Park gig: “It’s gonna be a celebration”</h2>
              <p class="color-contrast-medium">Jamie and Joe Talbot tell NME about how they met, plans for the massive London gig and the soul band they’re forming with Willie J Healey</p>
              
              <div class="flex justify-between items-center">
                <span class="cd-timeline__date">23rd June 2023</span>
                <a href="https://www.nme.com/news/music/jamie-t-and-idles-on-their-huge-finsbury-park-gig-its-gonna-be-a-celebration-3459832" class="btn btn--subtle">Read more</a>
              </div>
            </div> <!-- cd-timeline__content -->
          </div> <!-- cd-timeline__block -->
    
          <div class="cd-timeline__block">
            <div class="cd-timeline__img cd-timeline__img--picture">
            </div> <!-- cd-timeline__img -->
    
            <div class="cd-timeline__content text-component">
              <h2>Glastonbury 2023: Arctic Monkeys’ headline set will go ahead</h2>
              <p class="color-contrast-medium">Emily Eavis said cancellation was "a little bit close" but the band will top the Pyramid Stage as planned</p>
    
              <div class="flex justify-between items-center">
                <span class="cd-timeline__date">23rd June 2023</span>
                <a href="https://www.nme.com/news/music/glastonbury-2023-arctic-monkeys-headline-set-will-go-ahead-3459908" class="btn btn--subtle">Read more</a>
              </div>
            </div> <!-- cd-timeline__content -->
          </div> <!-- cd-timeline__block -->
    
          <div class="cd-timeline__block">
            <div class="cd-timeline__img cd-timeline__img--location">
            </div> <!-- cd-timeline__img -->
    
            <div class="cd-timeline__content text-component">
              <h2>Paul McCartney clarifies that Beatles AI song features nothing “artificially or synthetically created”</h2>
              <p class="color-contrast-medium">"It’s all real and we all play on it"</p>
    
              <div class="flex justify-between items-center">
                <span class="cd-timeline__date">23rd June 2023</span>
                <a href="https://www.nme.com/news/music/paul-mccartney-clarifies-that-beatles-ai-song-features-nothing-artificially-or-synthetically-created-3459872" class="btn btn--subtle">Read more</a>
              </div>
            </div> <!-- cd-timeline__content -->
          </div> <!-- cd-timeline__block -->
    
          <div class="cd-timeline__block">
            <div class="cd-timeline__img cd-timeline__img--location">
            </div> <!-- cd-timeline__img -->
    
            <div class="cd-timeline__content text-component">
              <h2>Gorillaz cancel ‘The Getaway’ North American tour</h2>
              <p class="color-contrast-medium">Ticket providers said the September gigs were being scrapped due to "scheduling conflicts and circumstances beyond our control"</p>
    
              <div class="flex justify-between items-center">
                <span class="cd-timeline__date">23rd June 2023</span>
                <a href="https://www.nme.com/news/music/gorillaz-cancel-the-getaway-north-american-tour-3459837" class="btn btn--subtle">Read more</a>
              </div>
            </div> <!-- cd-timeline__content -->
          </div> <!-- cd-timeline__block -->
    
        </div>
      </section> <!-- cd-timeline -->
      <script src="newsfeed.js"></script>





    <footer>
        <%- include('../common/footer') %>
    </footer>

    </body>

    </html>